<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>拜访列表</title>
</head>
<body>
<h1>拜访列表</h1>
<table border="1" width="100%">
    <tr>
        <th>客户</th>
        <th>时间</th>
        <th>意向</th>
    </tr>
    <volist name="result" id="row">
    <tr>
        <td>{$row.cus_name} <small>{$row.company}({$row.title})</small></td>
        <td>{$row.dateline|date='Y/m/d H:i:s',###}</td>
        <td>
        <switch name="row.intention">
            <case value="0">没有意向</case>
            <case value="1">达成意向</case>
            <case value="2">未拜访成功</case>
            <case value="3">有意向未达成</case>
            <default/>错误的类型
        </switch>
        </td>
    </tr>
    </volist>
</table>
<div>
    {$show}
</div>
</body>
</html>