<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>用户首页</title>
</head>
<body>
<h1>用户首页</h1>
<foreach name="actions" key="ctrl_name" item="ctrl">
    <volist name="ctrl" id="action">
        <a href="/index.php?c={$ctrl_name}&a={$action}">{$ctrl_name}/{$action}</a> <br>
    </volist>
</foreach>
</body>
</html>