<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>客户列表</title>
</head>
<body>
<h1>客户列表</h1>
<table width="100%" border="1">
    <tr>
        <th>客户名称</th>
        <th>电话</th>
        <th>邮箱</th>
        <th>地址</th>
        <th>操作</th>
    </tr>
    <volist name="result" id="row">
    <tr>
        <td>{$row.name} <small>{$row.company}({$row.title})</small></td>
        <td>{$row.mobile}</td>
        <td><a href="mailto://{$row.email}">{$row.email}</a></td>
        <td>{$row.address}</td>
        <td>
            <a href="{:U('edit', [id => $row['id']])}">修改</a>
            <a href="{:U('delete', [id => $row['id']])}">删除</a>
        </td>
    </tr>
    </volist>
</table>
<div>{$show}</div>
</body>
</html>